<div [class]="isLoading ? 'pageloader is-active is-visible' : 'is-hidden'"><span class="title">Loading data players...</span></div>

<div class="columns">
  <div class="column">
    <div class="table-container">
      <table *ngIf="!isLoading" class="table">
        <thead>
        <tr>
          <th>Fullname - Number</th>
          <th>Team</th>
          <th><abbr title="Position">Position</abbr></th>
          <th><abbr title="Point per game">PPG</abbr></th>
          <th><abbr title="Rebound per game">RPG</abbr></th>
          <th><abbr title="Assist per game">APG</abbr></th>
          <th><abbr title="Total cost">Total cost</abbr></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let player of players" [class]="player.team + '_FIRST_COLOR' " (click)="addTitularPlayer(player.firstName, player.lastName, player.team)" >
          <th>{{player.firstName}} {{player.lastName}} - {{player.number}}</th>
          <td>{{player.team}}</td>
          <td>{{player.position}}</td>
          <td>{{player.pointPerMatch}}</td>
          <td>{{player.reboundPerMatch}}</td>
          <td>{{player.assistPerMatch}}</td>
          <td>{{player.totalCost}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="column">
    <article class="message">
      <div class="message-header">
        <p>Roster</p>
        <button class="delete" aria-label="delete"></button>
      </div>
      <div class="message-body">
        POINT_GUARD : {{pointGuard.display()}} <button (click)="removeTitularPlayer(pointGuard)" class="delete"></button>
        <br />
        SHOOTING_GUARD : {{shootingGuard.display()}} <button (click)="removeTitularPlayer(shootingGuard)" class="delete"></button>
        <br />
        SMALL_FORWARD : {{smallForward.display()}} <button (click)="removeTitularPlayer(smallForward)" class="delete"></button>
        <br />
        POWER_FORWARD : {{powerForward.display()}} <button (click)="removeTitularPlayer(powerForward)" class="delete"></button>
        <br />
        CENTER : {{center.display()}} <button (click)="removeTitularPlayer(center)" class="delete"></button>
        <br />
      </div>
    </article>
  </div>
</div>

